[Unit]
Description=OpenZiti Controller
Documentation=https://openziti.io/docs
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/dbgr/openziti-5gc
ExecStart=/home/dbgr/openziti-5gc/bin/ziti controller run /home/dbgr/openziti-5gc/controller/ctrl-config.yaml
Restart=always
RestartSec=5
LimitNOFILE=65536

# 日誌
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ziti-controller

[Install]
WantedBy=multi-user.target
